<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<body>
<div layout:fragment="content">

    <div class="card">

        <!--
                    <h5 class="card-title">Table with hoverable rows</h5>
        -->

        <div class="card-body">
            <!-- Table with hoverable rows -->
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Manager</th>
                    <th scope="col">Vacation Type</th>
                    <th scope="col">Vacation Start Date</th>
                    <th scope="col">Vacation End Date</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="vacation: ${vacations}">
                    <td th:text="${vacation.id}"></td>
                    <td th:text="${vacation.employeeRequestor.employeeFirstName}"></td>
                    <td th:text="${vacation.employeeRequestor.employeeLastName}"></td>
                    <td th:text="${vacation.employeeRequestor.employeeManager} ? ${vacation.employeeRequestor.employeeManager.employeeFirstName} + ' ' + ${vacation.employeeRequestor.employeeManager.employeeLastName}:'No Manager'"></td>
                    <td th:text="${vacation.vacationType}"></td>
                    <td th:text="${vacation.vacationStartDate}"></td>
                    <td th:text="${vacation.vacationEndDate}"></td>
                    <td th:text="${vacation.status}"></td>
                </tr>
                </tbody>
            </table>
            <!-- End Table with hoverable rows -->
        </div>

    </div>
</div>
</body>
</html>