<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<body>
<div layout:fragment="content">

    <div class="card">
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Име</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Пряк ръководител</th>
                    <th scope="col">Тип отсъствие</th>
                    <th scope="col">Начало</th>
                    <th scope="col">Край</th>
                    <th scope="col">Статус</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="vacation: ${vacations}">
                    <td th:text="${vacation.id}"></td>
                    <td th:text="${vacation.employeeRequestor.employeeFirstName}"></td>
                    <td th:text="${vacation.employeeRequestor.employeeLastName}"></td>
                    <td th:text="${vacation.employeeRequestor.employeeManager} ? ${vacation.employeeRequestor.employeeManager.employeeFirstName} + ' ' + ${vacation.employeeRequestor.employeeManager.employeeLastName}:'Няма ръководител'"></td>
                    <td th:text="${vacation.vacationType}"></td>
                    <td th:text="${vacation.vacationStartDate}"></td>
                    <td th:text="${vacation.vacationEndDate}"></td>
                    <td th:text="${vacation.status}"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
</body>
</html>