<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{_layout}">
<body>
<div layout:fragment="content">

    <h1 th:text="'Добре дошли отново, ' + ${#authentication.getPrincipal().getUser().getEmployee().getEmployeeFirstName() + ' ' + #authentication.getPrincipal().getUser().getEmployee().getEmployeeLastName()}"></h1>

    Вашите роли:
    <br>
    <div sec:authentication="principal.authorities"></div>

</div>
</body>
</html>