<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{_layout}">
<body>
<div layout:fragment="content">

<h1>Welcome to content page</h1>
    <div sec:authorize="hasRole('USER')">
        <p>Visible as user</p>
    </div>
    <div sec:autorize=".isAuthenticated()">
        <p>Visible as everyone</p>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        This content is only shown to administrators.§§
    </div>

    Authenticated username:
    <div sec:authentication="name"></div>
    Authenticated user roles:
    <div sec:authentication="principal.authorities"></div>

    <div sec:authorize="hasRole('USER')">
        This content is only shown to users.
    </div>
    <div sec:authorize="hasRole('USER')">
        This content is only shown to users.
    </div>
    <div>
        User: <span sec:authentication="name">NOT FOUND</span>
        Spring Roles: <span sec:authentication="principal.authorities">NOT FOUND</span>
    </div>
</div>
</body>
</html>