<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{_layout}">
<body>
<div layout:fragment="content">
    <div sec:authorize="hasRole('HR')">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Employee Details</h5>
                <!-- Vertical Form -->
                <form class="row g-3" th:action="@{/employees/add}" th:object="${employee}" method="post">
                    <input type="hidden" th:field="*{id}">
                    <div class="col-12">
                        <label for="inputNanme4" class="form-label fw-bold">First Name</label>
                        <input type="text" class="form-control" id="inputNanme4" th:field="*{employeeFirstName}">
                    </div>
                    <div class="col-12">
                        <label for="inputNanme4" class="form-label fw-bold">Last Name</label>
                        <input type="text" class="form-control" id="inputNanme4" th:field="*{employeeLastName}">
                    </div>
                    <div class="col-12">
                        <label for="inputNanme4" class="form-label fw-bold">Position</label>
                        <input type="text" class="form-control" id="inputNanme4" th:field="*{employeePosition}">
                    </div>
                    <div class="col-12">
                        <label for="inputEmployee" class="form-label fw-bold">Manager</label>
                        <select id="inputEmployee" class="form-select" th:field="${employee.employeeManager}">
                            <option th:each="employee: ${employeeList}" th:value="${employee.id}"
                                    th:text="${employee.employeeFirstName} + ', ' + ${employee.employeeLastName}"></option>
                        </select>
                    </div>
                    <div class="col-12">
                        <label for="inputPassword4" class="form-label fw-bold">Company Start Date</label>
                        <input type="date" class="form-control" id="inputPassword4" th:field="*{employmentStartDate}"
                               value="2022-07-26">
                    </div>
                    <div class="col-12">
                        <label for="inputPassword4" class="form-label fw-bold">Career Start Date</label>
                        <input type="date" class="form-control" id="inputPassword4" th:field="*{careerStartDate}"
                               value="2022-07-26">
                    </div>
                    <div class="col-12">
                        <label for="inputPassword4" class="form-label fw-bold">Birthdate</label>
                        <input type="date" class="form-control" id="inputPassword4" th:field="*{birthDate}"
                               value="2022-07-26">
                    </div>
                    <div class="col-12">
                        <label for="inputPassword4" class="form-label fw-bold">Email</label>
                        <input type="email" class="form-control" id="inputPassword4" th:field="*{employeeEmail}">
                    </div>

                    <div class="col-12">
                        <label for="inputPassword4" class="form-label fw-bold">Phone</label>
                        <input type="tel" class="form-control" id="inputPassword4" th:field="*{employeePhoneNum}"
                               placeholder="0877777777">
                    </div>
                    <div class="col-12">
                        <label for="inputPassword4" class="form-label fw-bold">Initial password</label>
                        <input type="password" class="form-control" id="inputPassword4" th:field="*{password}">
                    </div>
                    <div class="col-12">
                        <label for="inputState" class="form-label fw-bold">Department</label>
                        <select id="inputState" class="form-select" th:field="${employee.department.id}">
                            <option th:each="department: ${departmentList}" th:value="${department.id}"
                                    th:text="${department.departmentName} + ', ' + ${department.departmentOffice}"></option>
                        </select>
                    </div>
                    <div class="col-12">
                        <label class="form-label fw-bold">HR</label>
                        <input type="checkbox" th:field="*{hrRole}" th:checked="${hrRole}">

                        <label class="form-label fw-bold">Active</label>
                        <input type="checkbox" th:field="*{active}" th:checked="${active}">

                        <label class="form-label fw-bold">Admin</label>
                        <input type="checkbox" th:field="*{adminRole}" th:checked="${adminRole}">
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                        <a th:href="@{/employees}" class="btn btn-warning">Cancel</a>
                    </div>
                </form><!-- Vertical Form -->

            </div>
        </div>
    </div>
</div>
</body>
</html>