<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<body>
<div layout:fragment="content">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Payslip Selection</h5>
            <!-- Vertical Form -->
            <form class="row g-3" th:action="@{/payslip/viewEmp/13}" th:object="${payslipSelectedObject}" method="post">
                <div class="col-12">
                    <label for="inputState" class="form-label fw-bold">Month</label>
                    <select id="inputState" class="form-select" th:field="${payslipSelectedObject.month}">
                        <option th:each="month: ${months}" th:value="${month}" th:text="${month}"></option>
                    </select>
                </div>
                <div class="col-12">
                    <label for="inputState" class="form-label fw-bold">Year</label>
                    <select id="inputState" class="form-select" th:field="${payslipSelectedObject.year}">
                        <option th:each="year: ${years}" th:value="${year}" th:text="${year}"></option>
                    </select>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">View</button>
                </div>
            </form><!-- Vertical Form -->

        </div>
    </div>

</div>
</body>
</html>